body{
    font-family: Roboto !important;
}
.color-nav{
    color: white !important;
}
.block1img{
    background-image: url("img/bg-templateB.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.imglogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 10%;
    
}
.btnpo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 150px;
    display: flex; justify-content: center; 
}
.gray{
    filter: grayscale(80%);
   
}
.btn-outline-dark {
    color: white;
    background-color: transparent;
    background-image: none;
    border-color: white;
    width: 30%;
    border-radius: 12px;

}
.col3div{
    height: 150%;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-bottom: 30px;

}
.resize_fit_center {
    height: 100%;
    width: 70%%;
   
}
.txtcenter{
    padding-top: 40px;;
    text-align: center;

}
.col4div{
    background-color: gray;
    padding-bottom: 10px;
}
.resize{
    font-size: 60px;
}